* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.slider {
    display: block;
    width: 100%;  /* Adjust width */
    height: 100%; /* Adjust height */
    overflow: hidden;
    margin: auto;
    position: relative;
    text-align: center;
    padding: 50px;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}



